package main

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<title>Search page</title>
			<link rel="stylesheet" href="/assets/dist/css/main.css"/>
		</head>
		<body>
			BODY
			<script src="/assets/js/htmx.min.js"></script>
		</body>
	</html>
}
